body {
  overflow: auto;
}
textarea {
  resize: none !important;
}
a {
  text-decoration: none !important;
}
.addBtn {
  background-color: #0499ad;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #028697;
}

.addBtn h1 {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.info_card {
  width: 100%;
  display: flex;
  border-radius: 25px !important;
  background-color: rgba(218, 218, 218, 1) !important;
}

.data {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px 20px 20px 20px;
  width: 80%;
}

.cd {
  display: flex;
  flex-direction: row;
}

.cd_left {
  width: 75%;
}

.cd_title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.cd_right {
  width: 25%;
}

.cd_btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.btn_dlt {
  color: red;
}

.bt {
  margin: 0 10px 0 2px;
  cursor: pointer;
  text-decoration: none;
}

.bt i {
  margin-right: 4px;
}

.income-form-container {
  width: 50%;
  height: auto;
  position: relative;
  margin: 100px auto;
  border-radius: 15px;
  border: 2px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 10px 15px;
  overflow: hidden;
}

.form_body {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  margin: auto;
  z-index: 2;
}

.body_enable {
  display: block;
}

.form_title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

.form_title h3 {
  font-weight: 500;
  text-transform: uppercase;
  width: 75%;
  padding: 10px 0 5px 15px;
}

.form_title svg {
  width: 50px;
  float: right;
}

.form_hr {
  width: 100%;
  height: 1.5px;
  background-color: #028697;
  opacity: 0.6;
  margin-bottom: 10px;
}

#form-btn{
  background-color: #0499ad;
}

#form-btn:hover{
  background-color: #028697;
}